.cf7-required:after,
.woocommerce ul.products li.product a h3:hover,
.woocommerce ul.products li.product ins,
.post-title h2:hover,
.sh-team:hover .sh-team-role,
.sh-team-style4 .sh-team-role,
.sh-team-style4 .sh-team-icon:hover i,
.sh-header-search-submit,
.woocommerce .woocommerce-tabs li.active a,
.woocommerce .required,
.sh-recent-products .woocommerce .star-rating span::before,
.woocommerce .woocomerce-styling .star-rating span::before,
.woocommerce div.product p.price,
.woocomerce-styling li.product .amount,
.post-format-icon,
.sh-accent-color,
.sh-blog-tag-item:hover h6,
ul.page-numbers a:hover,
.sh-portfolio-single-info-item i,
.sh-filter-item.active,
.sh-filter-item:hover,
.sh-nav .sh-nav-cart li.menu-item-cart .mini_cart_item .amount,
.sh-pricing-button-style3,
#sidebar a:not(.sh-social-widgets-item):hover,
.logged-in-as a:hover,
.woocommerce table.shop_table.cart a:hover,
.wrap-forms sup:before,
.sh-comment-date a:hover,
.reply a.comment-edit-link,
.comment-respond #cancel-comment-reply-link,
.sh-portfolio-title:hover,
.sh-portfolio-single-related-mini h5:hover,
.sh-header-top-10 .header-contacts-details-large-icon i,
.sh-unyson-frontend-test.active,
.plyr--full-ui input[type=range] {
	color: #3b9f95!important;
}
.ui-popup-screen:before{
	position: fixed;
    content: "";
    width: 40px;
    height: 40px;
    background: #fff url(../images/close-icon.svg) center center no-repeat;
    right: 10px;
    top: 10px;
    background-size: 20px;
    border-radius: 50%;
	box-shadow: 0px 0px 3px #ddd;
	cursor: pointer;
}
.video-frame{
	float: right;
}
.video-frame iframe{
	border: none;
}
.ui-popup iframe{
	width: 520px;
	border: none;
	height: 550px;
	margin-top: -25px;
}
.ui-popup-container{
	position: fixed;
	top: 59px !important;
	bottom: 0px;
}
#menuall-content .sh-filter-item{
	color: #999;	
	cursor: pointer;
	border-bottom: 2px solid transparent;
	display: inline-block;
}
#menuall-content .sh-filter-item.active{
	color: #3b9f95;	
	border-bottom: 2px solid #3b9f95;
}
.current-menu span{
	margin: 0 20px;
}
.participate,a.sh-portfolio-category.sh-heading-font{
	display: inline-block;
	line-height: 35px;
	padding: 10px 30px;
	border-radius: 20px;
	color: #fff !important;
	background: #3b9f95 !important;
	font-size: 18px;
	font-weight: 300;
	box-shadow: none !important;
}
a.sh-portfolio-category.sh-heading-font{
	border-radius: 30px;
}
.participate:focus,.participate:hover{
	background: #23527c;
	color: #fff;	
}
.photo-img{
	position: relative;
}
.photo-img-inner {
	position: absolute;
    right: 109px;
    top: 112px;
    width: 241px;
    height: 225px;
    z-index: -1;
    
}
.photo-img-inner img{
  object-fit: cover;
  height: 225px;
  width: 100%;

}
.banner{
	background: url(../images/banner.jpg) center top no-repeat;
	width: 100%;
	height: calc(100vh - 168px);
	margin-top: -72px;
	display: block;
	background-size: cover;
}
.sh-heading .sh-heading-content{
	color: #fff;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 50px;;
}
.sh-element-margin a.tc{
 color: #3b9f95;	
}
.sh-element-margin ol{
	margin-bottom: 30px;
}
.sh-portfolio-filter-alignment-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    display: -webkit-box;
}
  img.wp-smiley,
      img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
      }
 .woocommerce form .form-row .required { visibility: visible; }
.woocommerce p.stars.selected a:not(.active),
.woocommerce p.stars.selected a.active,
.sh-dropcaps-full-square,
.sh-dropcaps-full-square-border,
.masonry2 .post-content-container a.post-meta-comments:hover,
.sh-header-builder-edit:hover {
	background-color: #294cff;
}
.sh-portfolio-fancy-itemc-container{
	margin: 0 5px;
}
.sh-portfolio-fancy-itemc-container:hover .sh-portfolio-fancy-item-overlay:before{
 content: "";
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.75);
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
}
.sh-header{
	background: none !important;
}
.contact-form input[type="submit"],
.sh-back-to-top:hover,
.sh-dropcaps-full-square-tale,
.sh-404-button,
.woocommerce .wc-forward,
.woocommerce .checkout-button,
.woocommerce div.product form.cart button,
.woocommerce .button:not(.add_to_cart_button),
.sh-blog-tag-item,
.sh-comments .submit,
.sh-sidebar-search-active .search-field,
.sh-nav .sh-nav-cart .buttons a.checkout,
ul.page-numbers .current,
ul.page-numbers .current:hover,
.post-background,
.post-item .post-category .post-category-list,
.cart-icon span,
.comment-input-required,
.widget_tag_cloud a:hover,
.widget_product_tag_cloud a:hover,
.woocommerce #respond input#submit,
.sh-portfolio-overlay1-bar,
.sh-pricing-button-style4,
.sh-pricing-button-style11,
.sh-revslider-button2,
.sh-portfolio-default2 .sh-portfolio-title,
.sh-recent-posts-widgets-count,
.sh-filter-item.active:after,
.blog-style-largedate .post-comments,
.sh-video-player-style1 .sh-video-player-image-play,
.sh-video-player-style2 .sh-video-player-image-play:hover,
.sh-video-player-style2 .sh-video-player-image-play:focus,
.woocommerce .woocommerce-tabs li a:after,
.sh-image-gallery .slick-dots li.slick-active button,
.sh-recent-posts-carousel .slick-dots li.slick-active button,
.sh-recent-products-carousel .slick-dots li.slick-active button,
.sh-settings-container-bar .sh-progress-status-value,
.post-password-form input[type="submit"],
.wpcf7-form .wpcf7-submit,
.sh-portfolio-filter-style3 .sh-filter-item.active .sh-filter-item-content,
.sh-portfolio-filter-style4 .sh-filter-item:hover .sh-filter-item-content,
.sh-woocommerce-categories-count,
.sh-woocommerce-products-style2 .woocommerce ul.products li.product .add_to_cart_button:hover,
.woocomerce-styling.sh-woocommerce-products-style2 ul.products li.product .add_to_cart_button:hover,
.sh-icon-group-style2 .sh-icon-group-item:hover,
.sh-text-background,
.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded=true] {
	background-color:#3b9f95!important;
}

.sh-cf7-style4 form input:not(.wpcf7-submit):focus {
	border-bottom-color: #3b9f95;
}

::selection {
	background-color: #294cff!important;
	color: #fff;
}

::-moz-selection {
	background-color: #294cff!important;
	color: #fff;
}

.woocommerce .woocommerce-tabs li.active a {
	border-bottom-color: #294cff!important;
}

#header-quote,
.sh-dropcaps-full-square-tale:after,
.sh-blog-tag-item:after,
.widget_tag_cloud a:hover:after,
.widget_product_tag_cloud a:hover:after {
	border-left-color: #294cff!important;
}

.cart-icon .cart-icon-triangle-color {
	border-right-color: #294cff!important;
}

.sh-back-to-top:hover,
.widget_price_filter .ui-slider .ui-slider-handle,
.sh-sidebar-search-active .search-field:hover,
.sh-sidebar-search-active .search-field:focus,
.sh-cf7-style2 form p input:not(.wpcf7-submit):focus,
.sh-cf7-style2 form p textarea:focus {
	border-color: #294cff!important;
}

.post-item .post-category .arrow-right {
	border-left-color: #294cff;
}

.woocommerce .wc-forward:hover,
.woocommerce .button:not(.add_to_cart_button):hover,
.woocommerce .checkout-button:hover,
.woocommerce #respond input#submit:hover,
.contact-form input[type="submit"]:hover,
.wpcf7-form .wpcf7-submit:hover,
.sh-video-player-image-play:hover,
.sh-404-button:hover,
.post-password-form input[type="submit"],
.sh-pricing-button-style11:hover,
.sh-revslider-button2.spacing-animation:not(.inverted):hover {
	background-color: #5470ff!important;
}

.sh-cf7-unyson form .wpcf7-submit {
	background-size: 200% auto;
	background-image: linear-gradient(to right, #294cff, #5470ff, #5470ff);
}

.sh-mini-overlay-container,
.sh-portfolio-overlay-info-box,
.sh-portfolio-overlay-bottom .sh-portfolio-icon,
.sh-portfolio-overlay-bottom .sh-portfolio-text,
.sh-portfolio-overlay2-bar,
.sh-portfolio-overlay2-data,
.sh-portfolio-overlay3-data {
	background-color: rgba(41, 76, 255, 0.75)!important;
}

.widget_price_filter .ui-slider .ui-slider-range {
	background-color: rgba(41, 76, 255, 0.5)!important;
}

.sh-team-social-overlay2 .sh-team-image:hover .sh-team-overlay2,
.sh-overlay-style1,
.sh-portfolio-overlay4 {
	background-color: rgba(41, 76, 255, 0.8)!important;
}

.sh-header .sh-nav>.current_page_item>a,
.sh-header .sh-nav>.current-menu-ancestor>a,
.sh-header .sh-nav>.current-menu-item>a,
.sh-header-left-side .sh-nav>.current_page_item>a {
	color: #ff6d3c!important;
}

.sh-popover-mini:not(.sh-popover-mini-dark) {
	background-color: #294cff;
}

.sh-popover-mini:not(.sh-popover-mini-dark):before {
	border-color: transparent transparent #294cff #294cff!important;
}

.sh-footer .sh-footer-widgets a:hover,
.sh-footer .sh-footer-widgets li a:hover,
.sh-footer .sh-footer-widgets h6:hover {
	color: #f62433;
}
#menuall-content{
	margin:0 auto;
	max-width: 1100px;
}
.select-all {
    display: flex;
    width:400px;
}
.select-all label{
	width: 160px;
	margin-top: 2px;
}
.select-all .ui-select .ui-btn>span:not(.ui-li-count){
	font-weight: 500;
}
.download-icon{
	position: absolute;
	right: 0px;
	top: 8px;
}
.select-all .ui-select .ui-btn{
	border-radius: 20px;;
}
.select-all .ui-select .ui-btn {
	margin: 0;
    opacity: 1;
    padding:6px 39px 5px 10px;
    text-align: left;
}
.select-all .ui-select{
	width: auto;
    height: 35px;
    margin: 0;
}
.select-all select{
 line-height:40px!important;
 -webkit-appearance: inner-spin-button;
 height: 35px;
}
.current-menu {
	width: 500px;
	display: flex;
}
.process-menu {
    width: 500px;
}
.menu-nav{
	display: flex;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 600;;
	height: 28px;
}

@media screen and (max-width:767px){
	.banner{
		height: 414px;
	}
}